<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Assignment 18</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    {{!-- starts from public main folder --}}
    <link rel='stylesheet' href='../../css/styles.css'>
  </head>
  <body>
<div>    
    <nav id='navstyling' class='navbar sticky-top navbar-inverse bg-inverse'>
      <div class='row'>
        <h1 class='navbar-brand mb-0'>Mongo Scrapper Website</h1>
          <button class='btn btn-primary navbuttoncss' type='submit'> Saved Articles</button>
          <button id='modulebtn' class='btn btn-primary navbuttoncss' type='submit' data-toggle="modal" data-target="#confirmationModal">Scrap Articles</button>
        <button class="btn btn-primary navbuttoncss" onclick="window.open('https://github.com/Caromin')">Github</button>
        <button class="btn btn-primary navbuttoncss" onclick="window.open('https://caromin.github.io/Caromin-WebPortfolio/')">Web Portfolio</button>
      </div>
    </nav>
    <div id='maindiv' class='container'>
        <div id='titlediv' class='container'>
          MongoDB Scrapper Website
        </div>
        <div id='subtitle' class='container'>
          FiveThirtyEight Edition
        </div>
    </div>
    {{{body}}}

  <!-- Modal -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModal">Good News!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id='modalbody' class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <footer id='mainfooter'>
      <small>Created by Christian A. Last Updated: 11/08/17</small></br>
      <small>This assignment uses the follow: mongoose, mongoDB, handlebars views, request, cheerio, express, bootstrap v4, and node.</small>
    </footer>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src='../../javascript/index.js'></script>
  </body>
</html>
